.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

  button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;

    &.blue {
      background-color: blue;
    }

    &.green {
      background-color: green;
    }

    &.darkorchid {
      background-color: darkorchid;
    }

    &.white {
      color: white;
    }

    &.darkorchid {
      color: darkorchid;
    }

    &.white {
      background-color: white;
    }
  }

  .deleteButton {
    background-color: white;
    color: darkorchid;
    border: 1px solid gray;
    border-radius: "5px";
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

    

    .modal-close {
      position: relative;
      padding: 5px;
      background: transparent;
      border: none;
      top: 0px;
      right: 0px;
      cursor: pointer;
    }

    .modal-content {
      background-color: white;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      max-width: 80%;
      display: block;
      justify-content: center;
      align-items: center;

      .divImg {
        display: flex;
        height: 220px;
        width: 100%;
        background-color: gray;
      }

      .modal-header {
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
          margin: 0;
        }
      }

      .modal-body {
        margin: 20px 0;
        display: flex;
        justify-content: center;
      }

      .modal-footer {
        display: flex;
        justify-content: flex-end;

        button {
          margin-left: 10px;
        }
      }
    }
  }
}
